<div id="top" class="header scroller">
  <div class="vert-text">
    <h1>AgroSocial</h1>
    <br>
    <h2>A semente do seu negócio</h2>

    <!--<a href="#services" class="btn btn-flat-white btn-bordered btn-lg up">Mais informações</a>-->
    <ul class="list-inline">
      <li><a href="https://www.facebook.com/386752774760741" target="_blank"><div id="facebook"></div></a></li>
      <li><a href="https://plus.google.com" target="_blank"><div id="gplus"></div></a></li>
      <li><a href="https://twitter.com/agro_social" target="_blank"><div id="twitter"></div></a></li>
      <li><a href="https://agrosocial.pt" target="_blank"><div id="contact"></div></a></li>
    </ul>
    <div id="copyright">Agrosocial&copy 2013</div>
  </div>
</div>


<div id="services" class="services scroller">
  <div class="vert-text">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h2>O que fazemos?</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-1 text-center">
          <div class="service-item">
            <i class="service-icon icon-shopping-cart"></i>
            <h4>Negócio</h4>
            <p>Encontre o melhor preço para o produto que procura ou divulgue os seus produtos a uma vasta comunidade.</p>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="service-item">
            <i class="service-icon icon-male"></i>
            <h4>Emprego</h4>
            <p>Encontre um emprego à medida das suas capacidades ou a mão de obra que precisa para aquela tarefa específica.</p>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="service-item">
            <i class="service-icon icon-group"></i>
            <h4>Conhecimento</h4>
            <p>Participe em workshops ou siga técnicos especializados na nossa academia. Partilhe conhecimento na sua área de interesse.</p>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="service-item">
            <i class="service-icon icon-bullhorn"></i>
            <h4>Divulgação</h4>
            <p>Divulgue a sua empresa, negócio ou produtos facilmente e a quem realmente interessa.</p>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="service-item">
            <i class="service-icon icon-calendar-empty"></i>
            <h4>Participação</h4>
            <p>Crie, promova e participe em eventos sociais ou profissionais.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="intro" class="intro scroller">
  <div class="vert-text">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h2>Agricultura, Pecuária, Pesca e Caça numa plataforma.</h2>
          <br>
          <p class="lead">Negocie, encontre emprego ou mão de obra, partilhe o seu conhecimento e as suas ideias...</p>
        </div>
      </div>

      <div  class="carrosel">
        <div id="carousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
          </ol>
          
          <div class="frame">
            <div class="carousel-inner">
              <div class="active item">
                <img src="assets/farm_wallpaper18_blur.jpg"> 
              </div>
              <div class="item">
                <img src="assets/farm_wallpaper2_blur.jpg">
              </div>
              <div class="item">
                <img src="assets/farm_wallpaper_blur.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id ="team" class="team scroller">
  <div class="vert-text">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h2>Quem somos?</h2>
          <hr>
        </div>
      </div>
      <% @members.each_slice(7).each do |m| %>
      <div class="row" id="list_members">
        <div class="text-center">
          <% m.each do |member| %>
          <div class="member">
            <img alt="<%= member.name %>" class="img-rounded" src="/assets/members/<%= member.name_free %>.jpg">
            <h3 class="member-info"><span><%= member.name %></span></h3>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="next_section_button" id="next" style="margin-bottom: 0px;"></div>
<div class="prev_section_button" id="prev" style="margin-bottom: 0px;"></div>

<script>
   $('.carousel').carousel({
     interval: 4000,
     pause: "hover"
  });

   $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
  });

  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
  });
</script>
