<!-- Side Menu -->
<a id="menu-toggle" href="#" class="btn btn-lg toggle"><i class="icon-reorder"></i></a>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
  <button type="button" id="menu-close" class="close pull-right toogle position">&times</button>
    <li class="sidebar-brand"><a href="http://agrosocial.pt" target="_blank">AgroSocial</a></li>
    <hr>
    <li><a href="#top">Início</a></li>
    <li><a href="#services">O Que Fazemos</a></li>
    <li><a href="#team">Quem Somos</a></li>
  </ul>
</div>
<!-- /Side Menu -->

<!-- Full Page Image Header Area -->
<div id="top" class="header">
  <div class="vert-text">
    <h1>AgroSocial</h1>
    <br>
    <h3>A semente do seu negócio</h3>
    <br>
    <ul class="list-inline">
      <li><a href="https://www.facebook.com/386752774760741" target="_blank"><div id="facebook"></div></a></li>
      <li><a href="https://plus.google.com" target="_blank"><div id="gplus"></div></a></li>
      <li><a href="https://twitter.com/agro_social" target="_blank"><div id="twitter"></div></a></li>
      <li><a href="https://agrosocial.pt" target="_blank"><div id="contact"></div></a></li>
    </ul>

    <div id="copyright">AgroSocial&copy 2013</div>
  </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Services -->
<div id="services" class="services">
  <div class="container">
    <div class="vert-text">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h2>O que fazemos</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-1 text-center">
          <div class="service-item">
          <a class="negocio" data-fancybox-type="iframe" href="http://www.youtube.com/embed/ZLLiPwPsfjU?autoplay=1">
            <i class="service-icon icon-shopping-cart"></i>
          </a>
            <h4>Negócio</h4>
            <p>Encontre o melhor preço para o produto que procura ou divulgue os seus produtos a uma vasta comunidade.</p>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="service-item">
          <a class="emprego" data-fancybox-type="iframe" href="http://www.youtube.com/embed/ZLLiPwPsfjU?autoplay=1">
            <i class="service-icon icon-male"></i>
            </a>
            <h4>Emprego</h4>
            <p>Encontre um emprego à medida das suas capacidades ou a mão de obra que precisa para aquela tarefa específica.</p>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="service-item">
          <a class="conhecimento" data-fancybox-type="iframe" href="http://www.youtube.com/embed/ZLLiPwPsfjU?autoplay=1">
            <i class="service-icon icon-group"></i>
             </a>
            <h4>Conhecimento</h4>
            <p>Participe em workshops ou siga técnicos especializados na nossa academia. Partilhe conhecimento na sua área de interesse.</p>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="service-item">
          <a class="divulgacao" data-fancybox-type="iframe" href="http://www.youtube.com/embed/ZLLiPwPsfjU?autoplay=1">
            <i class="service-icon icon-bullhorn"></i>
            </a>
            <h4>Divulgação</h4>
            <p>Divulgue a sua empresa, negócio ou produtos facilmente e a quem realmente interessa.</p>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="service-item">
          <a class="participacao" data-fancybox-type="iframe" href="http://www.youtube.com/embed/ZLLiPwPsfjU?autoplay=1">
            <i class="service-icon icon-calendar-empty"></i>
            </a>
            <h4>Participação</h4>
            <p>Crie, promova e participe em eventos sociais ou profissionais.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Services -->

<!-- Callout -->
<div class="callout">
</div>
<!-- /Callout -->

<!-- Team -->
<div id ="team" class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Quem somos</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <% @users.each_slice(6).each do |m| %>
      <div class="col-md-12 text-center">
        <ul>
          <% m.each do |member| %>
            <li><img src="/assets/team/<%= member.score_name %>.jpg" alt="<%= member.name %>" />
              <span><%= member.name %></span>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- /TEAM -->

<script type="text/javascript">
$("#menu-close").click(function(e) {
  e.preventDefault();
  $("#sidebar-wrapper").toggleClass("active");
});
$("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#sidebar-wrapper").toggleClass("active");
});

$(function() {
$(document).click(function(event){
  var status = $(event.target);
  if(status.attr('id') !== 'menu-toggle') {
    $('#sidebar-wrapper').removeClass('active');
  }
});
  $(".negocio").fancybox({
    tpl: {
        closeBtn: '<a title="Close" class="fancybox-item fancybox-close myClose" href="javascript:;"></a>'
    },
    maxWidth  : 800,
    maxHeight : 600,
    fitToView : false,
    width   : '70%',
    height    : '70%',
    autoSize  : false,
    closeClick  : true,
    openEffect  : 'none',
    closeEffect : 'none',
    padding: 0,
    modal: false
  });
  $(".emprego").fancybox({
    tpl: {
        closeBtn: '<a title="Close" class="fancybox-item fancybox-close myClose" href="javascript:;"></a>'
    },
    maxWidth  : 800,
    maxHeight : 600,
    fitToView : false,
    width   : '70%',
    height    : '70%',
    autoSize  : false,
    closeClick  : true,
    openEffect  : 'none',
    closeEffect : 'none',
    padding: 0,
    modal: false
  });
  $(".participacao").fancybox({
    tpl: {
        closeBtn: '<a title="Close" class="fancybox-item fancybox-close myClose" href="javascript:;"></a>'
    },
    maxWidth  : 800,
    maxHeight : 600,
    fitToView : false,
    width   : '70%',
    height    : '70%',
    autoSize  : false,
    closeClick  : true,
    openEffect  : 'none',
    closeEffect : 'none',
    padding: 0,
    modal: false
  });
  $(".divulgacao").fancybox({
    tpl: {
        closeBtn: '<a title="Close" class="fancybox-item fancybox-close myClose" href="javascript:;"></a>'
    },
    maxWidth  : 800,
    maxHeight : 600,
    fitToView : false,
    width   : '70%',
    height    : '70%',
    autoSize  : false,
    closeClick  : true,
    openEffect  : 'none',
    closeEffect : 'none',
    padding: 0,
    modal: false
  });
  $(".conhecimento").fancybox({
    tpl: {
        closeBtn: '<a title="Close" class="fancybox-item fancybox-close myClose" href="javascript:;"></a>'
    },
    maxWidth  : 800,
    maxHeight : 600,
    fitToView : false,
    width   : '70%',
    height    : '70%',
    autoSize  : false,
    closeClick  : true,
    openEffect  : 'none',
    closeEffect : 'none',
    padding: 0,
    modal: false
  });
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
      || location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>