    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-lg toggle"><i class="icon-reorder"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#"  class="btn btn-default btn-lg pull-right toggle"><i class="icon-remove"></i></a>
        <li class="sidebar-brand"><a href="http://agrosocial.pt" target="_blank">AgroSocial</a></li>
        <li><a href="#top">Home</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <!-- /Side Menu -->

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <h1>AgroSocial</h1>
        <br>
        <h3>A semente do seu negócio</h3>
        <br>
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/386752774760741" target="_blank"><div id="facebook"></div></a></li>
          <li><a href="https://plus.google.com" target="_blank"><div id="gplus"></div></a></li>
          <li><a href="https://twitter.com/agro_social" target="_blank"><div id="twitter"></div></a></li>
          <li><a href="https://agrosocial.pt" target="_blank"><div id="contact"></div></a></li>
        </ul>

        <div id="copyright">Agrosocial&copy 2013</div>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Services -->
    <div id="services" class="services">
      <div class="container">
        <div class="vert-text">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
              <h2>O que fazemos?</h2>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
              <div class="service-item">
                <i class="service-icon icon-shopping-cart"></i>
                <h4>Negócio</h4>
                <p>Encontre o melhor preço para o produto que procura ou divulgue os seus produtos a uma vasta comunidade.</p>
              </div>
            </div>
            <div class="col-md-2 text-center">
              <div class="service-item">
                <i class="service-icon icon-male"></i>
                <h4>Emprego</h4>
                <p>Encontre um emprego à medida das suas capacidades ou a mão de obra que precisa para aquela tarefa específica.</p>
              </div>
            </div>
            <div class="col-md-2 text-center">
              <div class="service-item">
                <i class="service-icon icon-group"></i>
                <h4>Conhecimento</h4>
                <p>Participe em workshops ou siga técnicos especializados na nossa academia. Partilhe conhecimento na sua área de interesse.</p>
              </div>
            </div>
            <div class="col-md-2 text-center">
              <div class="service-item">
                <i class="service-icon icon-bullhorn"></i>
                <h4>Divulgação</h4>
                <p>Divulgue a sua empresa, negócio ou produtos facilmente e a quem realmente interessa.</p>
              </div>
            </div>
            <div class="col-md-2 text-center">
              <div class="service-item">
                <i class="service-icon icon-calendar-empty"></i>
                <h4>Participação</h4>
                <p>Crie, promova e participe em eventos sociais ou profissionais.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h2>Agricultura, Pecuária, Pesca e Caça numa plataforma.</h2>
        <br>
        <p class="lead">Negocie, encontre emprego ou mão de obra, partilhe o seu conhecimento e as suas ideias...</p>
        <iframe src="//www.youtube.com/embed/NH8W5WRpOZM" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <!-- /Callout -->

    <!-- Team -->
    <div id ="team" class="team">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Quem somos?</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <% @users.each_slice(6).each do |m| %>
          <div class="col-md-12 text-center">
            <ul>
              <% m.each do |member| %>
                <li><img src="/assets/team/<%= member.score_name %>.jpg" alt="<%= member.name %>" />
                  <span><%= member.name %></span>
                </li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- /TEAM -->

    <script type="text/javascript">
      $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });
    </script>
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
      });
    </script>
